{% load static %}

<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'booking/css/theme.css' %}"
/>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="theme.css" type="text/css">
    </head>
      
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <div class="container"> <a class="navbar-brand" href="{% url 'index'%}">
                <i class="fa fa-home" aria-hidden="true"></i>
                <b> DAQS Freight Forwarder</b>
              </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar16">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbar16">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item"> <a class="nav-link" href="{% url 'track'%}">Track</a> </li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'pricing'%}">Pricing</a> </li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'about'%}">About</a> </li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'contactus'%}">Contact Us</a> </li>
                </ul> <a class="btn navbar-btn ml-md-2 btn-light text-dark" href ="{% url 'index'%}" >Log out</a>
              </div>
            </div>
          </nav>
          <div class="py-5 text-center" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url('/static/img/daqs 3.jpg'); background-position: right bottom;  background-size: cover; background-repeat: repeat; background-attachment: fixed;" >
            <div class="container">
              <div class="row">
                <div class="bg-white mx-auto col-md-8 col-10 p-4">
                  <h4 class="display-4">Package Status</h4>
                </div>
              </div>
              <div class="row">
                <div class="bg-white mx-auto col-md-8 col-10 py-2">
                  <div class="table-responsive">
                    <table class="table table-bordered ">
                      <thead class="thead-dark">
                        <tr>
                          <th class="table-secondary">Tracking Code</th>
                          <th contenteditable="true" class="table-primary">Status</th>
                          <th contenteditable="true" class="table-primary">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if query %}
                          {% for data in post %}
                          <tr>
                            <td> {{ data.trackingcode }}</td>
                            <td> {{ data.status }}</td>
                            <td> <a class="btn btn-outline-primary mx-1" href="#}">Update</a></td>
                          </tr>
                          {% empty %}
                          <tr>
                            <td> Tracking code not found. </td>
                            <td> - </td>
                            <td> - </td>
                          </tr>
                          {% endfor %} 
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="bg-white mx-auto col-md-8 col-10 pb-4"><a class="btn btn-primary mx-4" href="{% url 'search'%}">Search again</a><a class="btn btn-outline-primary mx-4" href="{% url 'dashboard'%}">Back to Dashboard</a></div>
              </div>
            </div>
          </div>
          <div class="py-3" >
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-6 p-3")> <img src="{% static 'img/daqs 4.png' %}" style='height: 100%; width: 100%; object-fit: contain'; vertical-align= top;/> </div>
                <div class="col-lg-4 col-6 p-3">
                  <p>Cainta, Pooc<br>Talisay City, Philippines<br>0916 506 2419 or 0956 511 5130</p>
                  <p>224 Parnell Street<br>Dublin, Ireland<br>087 9035 670 or 087 797 0398</p>
                  <p class="mb-0"> info@daqstransport.com </p>
                </div>
                <div class="col-md-4 p-3">
                  <h5> <b>Daqs Freight Forwarder</b></h5>
                  <p class="mb-0"> Daqs Freight Forwarder is a logistics firm that specializes in shipping balikbayan boxes from Ireland to the Philippines.&nbsp;Since 2001, Daqs Freight Forwarder have helped overseas Filipino workers (OFWs) in Ireland send goods to their loved ones in the Philippines.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <p class="mb-0 mt-2">© 2021-2022 Daqs Freight Forwarder. All rights reserved</p>
                </div>
              </div>
            </div>
          </div>
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    </body>
</html>